@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200');
@import url('https://fonts.googleapis.com/css?family=Poppins');


body { background: url(../images/bg.png); font-family: "Open Sans Hebrew"; }

@media(min-width:1200px) {
.container { max-width: 1250px; width: 100%; }
}

/* NAVBAR */
.navbar-all { position: absolute; width: 100%; z-index: 9999; }
.navbar-default{ border: none; }
.logof { margin-top: 10px; }
nav { width: 100%; }
.navbar-nav{ font-size: 16px; }
.navbar-default .navbar-nav>li>a { color: black; }
.navbar-default { background-color: rgba(255, 255, 255, 0.84); }
.navbar-brand { height: auto; }
.navbar-header{ padding: 20px; }
.navbar-nav li{ margin: 0px 15px; border-top: 2px solid rgba(14, 152, 207, 0.49); transition: all 0.6s ease; }
.navbar-nav li:hover { border-top: 2px solid rgba(14, 152, 207, 1.00); transition: all 0.6s ease; }
.navbar-nav li a{ padding: 30px 5px; }
a:hover { cursor: pointer; }
.navbar-nav li:not(.inpaged):hover::after { width: 100%; }
.navbar{ margin-bottom: 0px !important; border-radius: 0px !important; }
.navbar-nav a{ color: black; }
.navbar-nav .inpage a{ color: black !important; }
.navbar-nav .inpage{ font-weight: bold; border-top: 2px solid #0e98cf; }
.navbar-nav .inpage a{ background: none !important; }
@media only screen and (max-width: 768px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form { width: 100%; margin: 0; overflow-x: hidden; }
}

/* HEADER SLIDER */
.headerweb { background: url(../images/Header.png) no-repeat; height: 100%; width: 100%; -webkit-background-size: cover; padding: 188px 0px; }
.headerweb h2 { font-weight: bold; font-size: 45px; color: white; }
.headerweb .boldgr { font-size: 75px; background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.headerweb .boldgr2 { font-size: 31px; font-weight: 800; background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.headerweb h4 { padding-top: 32px; font-weight: 700; font-size: 18px; color: white; }
.headerweb .welcometext { font-size: 31px; }
.headerweb .vis { padding-top: 61px; }
.headerweb .col-md-4 h5 { max-height: 23px; font-size: 24px; font-weight: 700; color: white; }
.headerweb .col-md-4 h5:after { content: ""; background: url(../images/headerserv.png); }
.headerweb .col-md-4 p { font-size: 15px; color: white; max-width: 291px; }
.colorvi { font-size: 36px; background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
/* SERVICES */
.service { background: url(../images/sebg.png) no-repeat; height: 100%; width: 100%; padding: 30px 0px; -webkit-background-size: cover; }
.service h2 { text-align: center; color: #ffffff; font-size: 29px; font-weight: 700; }
.service h2 span { background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.service .col-xs-10 p { padding-top: 0px; color: #ffffff; font-size: 26px; font-weight: 700; max-height: 18px; text-align: right; }
.service .col-xs-6 { padding-top: 55px; }
.service p { color: #ffffff; font-size: 15px; font-weight: 400; max-width: 395px; text-align: center; }
.service .srvimg { padding-right: 4px; }
.service .srvimg2 { padding-right: 4px; padding-top: 6px; }
.service .container { max-width: 50%; }
@media only screen and (max-width: 1582px) {
	.service .imgares { width: 239px; height: 1px; }
}
@media only screen and (max-width: 970px) {
	.service .imgares { width: 180px; height: 1px; }
}
@media only screen and (max-width: 768px) {
	.service .col-xs-10 p { padding-right: 12px; }
	.service .imgares { height: 0px; width: 0px; }
	.service p { padding-top: 30px; }
	.service .container { max-width: 100%; }
}
/* SERVERS */
.servers { padding: 20px 0px; }
.servers h2 { text-align: center; background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 29px; font-weight: 700; padding-bottom: 40px; }
.servers .servera { background: -webkit-linear-gradient(#0069cb, #25d3f8); padding: 2px 3px 16px 6px; margin: 10px auto; transition: all 0.5s ease; }
.servers .servera:hover { background: transparent; border: 1px solid #1fc1f5; transition: all 0.5s ease; }
.servers .imageser { float: right; padding: 4px; }
.servers .mafrid { margin: 4px; width: 1px; height: 34px; background-color: #ffffff; opacity: 0.67; }
.servers .ip { color: #ffffff; font-size: 18px; font-weight: 400; position: relative; top: 6px; transition: all 0.5s ease }
.servera:hover > .ip { background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 18px; font-weight: 400; position: relative; top: 6px; transition: all 0.5s ease; }
.servers { text-align: left; padding: 7px 20px; }
@media only screen and (max-width: 768px) {
.servers .col-md-2 { text-align: center !important; }
.servers .col-md-9 { text-align: center !important; }
}
/* GAMESERVER PAGE */
.gameserver { padding: 20px 0px; text-align: center; }
.gameserver h2 { text-align: center; background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 29px; font-weight: 700; padding-bottom: 40px; }
.gameserver img {
	margin: 24px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	filter:         url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(60%);
    -moz-filter:    grayscale(60%);
    -ms-filter:     grayscale(60%);
    -o-filter:      grayscale(60%);
    filter: gray;
}
.gameserver img:hover {
	filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);	
}
/* PLANS */
.plans { background: url(../images/plans.png) no-repeat; height: 100%; width: 100%; padding: 20px 0px; -webkit-background-size: cover; }
.plans h2 { color: #ffffff; font-size: 29px; font-weight: 700; text-align: center; padding-bottom: 15px; }
.plan { background-color: rgba(0, 0, 0, 0.85); float: right; width: 305px; text-align: center; border-radius: 11px; padding-bottom: 15px; }
.plan .plan-header { background-image: url(../images/games/csplan.png); background-color: rgba(0, 0, 0, 0.6); background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.plan .plan-header p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.plan .plan-header-res { background: url(../images/resplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.plan .plan-header-res p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.plan .plan-header-csgo { background: url(../images/games/csgoplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.plan .plan-header-csgo p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.plan .plan-header-css { background: url(../images/games/cssplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.plan .plan-header-css p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.plan .plan-header-css .smallsrc { font-size: 17px; }
.plan p { color: #ffffff; font-size: 16px; font-weight: 400; }
.plan p:nth-child(2) { padding-top: 5px; }
.plan .afterp { height: 1px; width: 90%; background: rgba(255, 255, 255, 0.4); margin: 5px auto; }
.plan .buttonp { padding-top: 10px; }
.plans .owl-theme .owl-dots .owl-dot span { width: 18px; height: 4px; margin: 5px 7px; background: rgba(0, 0, 0, 0.49); display: block; -webkit-backface-visibility: visible; transition: all .5s ease; border-radius: 4px; }
.plans .owl-theme .owl-dots .owl-dot.active span, .plans .owl-theme .owl-dots .owl-dot:hover span { background: white; width: 43px; }
/* PLANS PAGES */
.plansp { padding: 20px 0px; -webkit-background-size: cover; }
.plansp h2 { background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 29px; font-weight: 700; text-align: center; padding-bottom: 15px; }
.planp { background-color: rgba(0, 0, 0, 0.85); float: right; width: 305px; text-align: center; border-radius: 11px; padding-bottom: 15px; }
.planp .plan-header { background: url(../images/games/csplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.planp .plan-header-res { background: url(../images/resplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-res p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.planp .plan-header-csgo { background: url(../images/games/csgoplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-csgo p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.planp .plan-header-css { background: url(../images/games/cssplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-css p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.planp .plan-header-css .smallsrc { font-size: 17px; }
.planp .plan-header-samp { background: url(../images/games/sampplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-samp p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.planp .plan-header-mine { background: url(../images/games/mcplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-mine p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.planp .plan-header-gmod { background: url(../images/games/gmodplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-gmod p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.planp .plan-header-tf2 { background: url(../images/games/tf2plan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-tf2 p { color: #ffffff; text-align: center; font-size: 28px; font-weight: 700; padding-top: 27px; }
.planp .plan-header-ark { background: url(../images/games/arkplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-fivem { background: url(../images/games/fivemplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-rust { background: url(../images/games/rustplan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp .plan-header-ts3 { background: url(../images/games/ts3plan.png) no-repeat; background-size: cover; width: 100%; height: 122px; padding-bottom: 10px; }
.planp p { color: #ffffff; font-size: 16px; font-weight: 400; }
.planp p:nth-child(2) { padding-top: 5px; }
.planp .afterp { height: 1px; width: 90%; background: rgba(255, 255, 255, 0.4); margin: 5px auto; }
.planp .buttonp { padding-top: 10px; }
.plansp .owl-theme .owl-dots .owl-dot span { width: 18px; height: 4px; margin: 5px 7px; background: rgba(0, 0, 0, 0.49); display: block; -webkit-backface-visibility: visible; transition: all .5s ease; border-radius: 4px; }
.plansp .owl-theme .owl-dots .owl-dot.active span, .plansp .owl-theme .owl-dots .owl-dot:hover span { background: -webkit-linear-gradient(#0069cb, #25d3f8); width: 43px; }
/* TAKANNON PAGE */
.takannon { padding: 20px 0px; -webkit-background-size: cover; }
.takannon h2 { background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 29px; font-weight: 700; text-align: center; padding-bottom: 15px; }
.takannon p { color: #404040; font-size: 20px; text-align: center; }
/* CONTACT PAGE */
.contact { padding: 20px 0px; -webkit-background-size: cover; }
.contact h2 { background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 29px; font-weight: 700; text-align: center; padding-bottom: 15px; }
.contact input { font-weight: 600; color: #1fc1f5; background: -webkit-linear-gradient(#0069cb, #25d3f8); background: transparent; border: 1px solid #1fc1f5; padding: 15.5px; width: 91.9%; display: block; font-size: 14px; transition: all 0.3s ease; }
.contact textarea { font-weight: 600; color: #1fc1f5; background: -webkit-linear-gradient(#0069cb, #25d3f8); background: transparent; border: 1px solid #1fc1f5; padding: 15.5px; width: 91.9%; display: block; font-size: 14px; resize: none; }
.contact img { padding-bottom: 5px; }
.contact .mrgn { padding-top: 30px; }
.contact p { font-size: 18px; color: black; }
.contact p span { background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: 600; }
@media only screen and (max-width: 836px) {
	.contact img { padding-bottom: 5px; width: 166px; }
	.contact p { font-size: 11px; }
}
.contact .contact-icon {
	margin: 16px;
	font-size: 84px;
	text-decoration: none;
}
.contact .contact-icon.steam {
	color: #000000;
}
.contact .contact-icon.discord {
	color: #7289d9;	
}
.contact .contact-icon.email {
	color: #00c317;
}

/* FOOTER */
.footer { background-color: #151618; height: 100%; width 100%; padding: 25px 0px 0px 0px; }
.footer .col-xs-10 p { color: #ffffff; font-size: 20px; max-height: 9px; font-weight: 700; }
.footer span a { text-decoration: none; color: #ffffff; font-size: 14px; font-weight: 400; }
.footer span a:hover { text-decoration: none; background: -webkit-linear-gradient(#0069cb, #25d3f8); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 14px; font-weight: 700; }
.footer h2 { padding-top: 79px; color: #ffffff; font-size: 16px; font-weight: 400; text-align: center; }
.footer .footer-logo { float: right; margin: 24px; }
.footer .lefts { float: left; }
/* GRID AVIAD */
.col-am-1 {
    width: 3.333333%;
}
.col-am-1 {
    float: right;
}
.col-am-1 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-am-1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.videoBg {
	position: absolute;
	z-index: -10;
	min-width: 100%;
	min-height: 100%;
	top: 0px;
	left: 0px;
}

.videoBgOverlay {
	position: absolute;
	z-index: -5;
	min-width: 100%;
	min-height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.5);
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fab {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fab {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook-f:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook-f .fab {
  color: #3b5998;
}
.social-btns .btn.discord:before {
  background-color: #7289d9;
}
.social-btns .btn.discord .fab {
  color: #7289d9;
}
.social-btns .btn.youtube:before {
  background-color: #fe0000;
}
.social-btns .btn.youtube .fab {
  color: #fe0000;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fab,
.social-btns .btn:hover .fab {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  float: left;
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  padding: 0px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fab {
  font-size: 64px;
  vertical-align: middle;
}

.colorvi { -webkit-text-fill-color: #25d3f8 !important; }
#contactsDiv { display: block; text-align: center; }
@media only screen and (max-width: 768px) {
	.container iframe { max-width: 100%; } 
	.gameserver .container img { max-width: 85%; }
	.contact .container .row .col-xs-6 { width: 100% !important; }
	.headerweb {background: url(../images/Header.png) no-repeat !important; height: 100%;width: 100%; -webkit-background-size: cover; padding: 188px 0px;background-size: cover !important; }
	.contact .contact-icon {margin: 22px !important; font-size: 56px !important; }
}

.alert {
  padding: 20px;
  background-color: #252525; /* #f3f3f3 */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: #ea1414;
}

